.form {
	&__group {
		margin-bottom: 1.5rem;
		position: relative;
		border: none;

		&--mb {
			margin-bottom: 2rem;
		}
	}

	&__line {
		width: 0;
		height: 1px;
		background-color: $blue;

		bottom: 0;
		left: 0;
		z-index: 1;
		position: absolute;

		transition: width .2s ease;
	}

	&__control {
		padding: .5rem .75rem;
		display: block;
		width: 100%;

		background: none;
		border: none;
		border-bottom: 1px solid #3f3f3f;
		border-radius: 0;
		box-shadow: 0;

		font-family: inherit;
		font-size: 1.4rem;
		color: $white;

			&::placeholder {
				color: $white;
				opacity: .2;
			}

			&:focus + .form__line {
				width: 100%;
			}

			&--textarea {
				height: 30px;
				resize: none;
				overflow: hidden;
			}
	}
}