.profile {
	&__text {
		font-size: 1.2rem;
		text-align: center;
		border-top: 1px solid #1c1c1c;
		border-bottom: 1px solid #1c1c1c;

		padding: 3rem 0;
		margin: 3rem 0;
	}
}

.profile-figure {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__avatar {
		width: 10rem;
		height: 10rem;
		margin-bottom: 2rem;

		border: 2px solid $white;
		box-shadow: 0 7px 20px rgba(#000, .25);
		border-radius: 50%;

		position: relative;
	}

	&__caption {
		font-size: 1.8rem;
	}

	&__subcaption {
		font-size: 1.4rem;
		font-weight: 300;
		color: #dedede;
	}
}