.sidebar {
	width: $sidebar-width;
	height: 100vh;

	background-color: $primary;
	box-shadow: 5px 0 15px rgba(#050505, .1);

	position: fixed;
	top: 0;
	left: 0;

	z-index: $sidebare-z-index;

}

.sidebar {
	&__header {
		height: 180px;

		background-color: $secondary;
	}

	&__img {
		object-fit: cover;
	}

	&__content,
	&__footer {
		padding: 0 2rem;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}
}