<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

{{> sprite }}

<!-- Bonjour le monde -->

<div class="page">
	<section class="hero-section">
		<div class="container">
			{{> header }}
		
			{{> hero }}
		</div>
	</section>

	<section class="services-section">
		<div class="container">
			{{> services }}
		</div>
	</section>

	<section class="portfolio-section">
		<div class="container">
			{{> portfolio }}
		</div>
	</section>

	<section class="team-section">
		<div class="container">
			{{> team }}
		</div>
	</section>

	<section class="footer-section">
		<div class="container">
			{{> footer }}
		</div>
	</section>
</div>

<script src="assets/js/app.min.js"></script>

</body>
</html>