/* Default styles */
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #181818;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Blocks */
.page {
    overflow: hidden;
}

.page__head, .page__subhead {
    text-align: center;
}

.page__head {
    padding-bottom: 3rem;
    text-align: left;
    color: #fff;
    font-size: 2.1rem;
    font-weight: bold;
}

.page__head--center {
    text-align: center;
}

.page__subhead {
    font-size: 1.2em;
}

.page__text, .page-figure__quote {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6em;
}

.page-list__head {
    font-size: 1.1em;
    font-weight: 600;
}

.page-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}

.page-figure__quote {
    font-size: 1.2em;
    text-align: center;
    padding: .8em 0 1em 0;
    margin: 0;
}

.page-figure__caption {
    color: #fff;
    font-weight: bold;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 5rem;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.1em 2.1em;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.1;
    color: #fff;
    background-color: #121212;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3em;
    cursor: pointer;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.btn:hover {
    text-decoration: none;
}

.btn--red {
    background-color: #ed3024;
    -webkit-box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.3);
    box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.3);
}

.btn--red:hover {
    background-color: #e51f13;
}

.btn--blue {
    background-color: #3137c9;
    -webkit-box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.3);
    box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.3);
}

.btn--blue:hover {
    background-color: #2c31b4;
}

.btn--rounded {
    border-radius: .41em;
}

.btn--sm {
    padding: .7em 1.25em;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #202020;
    -webkit-box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
    box-shadow: 5px 0 15px rgba(5, 5, 5, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar__header {
    height: 180px;
    background-color: #121212;
}

.sidebar__img {
    -o-object-fit: cover;
    object-fit: cover;
}

.sidebar__content {
    margin-top: -6.2rem;
}

.sidebar__content, .sidebar__footer {
    padding: 0 2rem;
}

.sidebar__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.profile__text {
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    padding: 3rem 0;
    margin: 3rem 0;
}

.profile-figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile-figure__avatar {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
}

.profile-figure__caption {
    font-size: 1.8rem;
}

.profile-figure__subcaption {
    font-size: 1.4rem;
    font-weight: 300;
    color: #dedede;
}

.social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social__item {
    margin: 0 .75rem;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 300px);
    background-color: #0d0d0d;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.header__left {
    width: 60%;
}

.header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 40%;
}

.navbar__menu {
    width: 35px;
    height: 35px;
    fill: white;
}

.navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar-list__item {
    position: relative;
}

.navbar-list__item:hover .navbar-list__link {
    background-color: #3137c9;
}

.navbar-list__item:hover > .subnav {
    display: block;
}

.navbar-list__link {
    display: block;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.navbar-list__link:hover {
    text-decoration: none;
}

.navbar-list__link.has-subnav {
    position: relative;
    padding-right: 3.5rem;
}

.navbar-list__link.has-subnav:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    right: 1.2em;
    top: calc(50% - 1px);
}

.subnav {
    display: none;
    width: 19.67rem;
    padding: .5rem 0;
    background-color: #3137c9;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.subnav__link {
    display: block;
    padding: .42rem 1.2rem;
    color: #fff;
    font-family: 1.2rem;
    text-decoration: none;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.subnav__link:hover {
    background-color: #2c31b4;
    text-decoration: none;
}

.search {
    width: 100%;
    max-width: 21rem;
    background-color: #202020;
}

.search__input {
    display: block;
    background: transparent;
    border: none;
    padding: 1.2rem 2rem;
    font-family: inherit;
    font-size: 1.2rem;
    color: #fff;
}

.search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.search__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.search__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.search__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.search__input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.main {
    padding: 10rem 0 8rem 300px;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    grid-template-rows: 195px;
    margin-bottom: 3rem;
}

.stories__item {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.stories__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
}

.stories__item:hover .stories__preview {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition-duration: 3.5s;
    -o-transition-duration: 3.5s;
    transition-duration: 3.5s;
}

.stories__titel, .stories__date {
    color: #fff;
    width: 100%;
    padding: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 500;
    left: 0;
    z-index: 3;
    position: absolute;
}

.stories__titel {
    top: 0;
}

.stories__date {
    right: 0;
    bottom: 0;
    text-align: right;
}

.stories__preview {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    -webkit-transition: -webkit-transform 1.5s ease-in-out;
    transition: -webkit-transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}

.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    background-color: #121212;
    -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.45);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.add-post__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.add-post__form-actions {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.add-post__textarea {
    display: block;
    border: none;
    resize: none;
    background: transparent;
    min-width: 80%;
    color: #fff;
    font-family: inherit;
    font-size: 1.5rem;
}

.add-post__textarea::-webkit-input-placeholder {
    color: #d2d2d2;
}

.add-post__textarea::-moz-placeholder {
    color: #d2d2d2;
}

.add-post__textarea:-ms-input-placeholder {
    color: #d2d2d2;
}

.add-post__textarea::-ms-input-placeholder {
    color: #d2d2d2;
}

.add-post__textarea::placeholder {
    color: #d2d2d2;
}

.add-post__file, .add-post__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    background: #ededed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.add-post__send {
    background-color: #3137c9;
    margin-left: 1.5rem;
}

.add-post__input {
    display: none;
}

.post {
    overflow: hidden;
    margin-bottom: 3rem;
    padding: 2.5rem;
    background-color: #202020;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.post__actions {
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
}

.post__actions a {
    color: inherit;
    opacity: .6;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.post__actions a:hover {
    opacity: 1;
}

.post__actions-icon {
    margin-left: .5rem;
}

.post__header {
    margin: 0 0 2.5rem;
}

.post__header-img {
    display: block;
    width: 100%;
    height: auto;
}

.post__header--preview {
    margin: -2.5rem -2.5rem 2.5rem -2.5rem;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-bottom: 1.5rem;
}

.post__title--mb0 {
    margin-bottom: 0;
}

.post__subtitle {
    margin: 3rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.post__title-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.post__title-link:hover {
    text-decoration: underline;
}

.post__description {
    font-size: 1.4rem;
    color: #d2d2d2;
}

.post__text {
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 1rem;
}

.post__text p {
    margin-bottom: 2rem;
}

.post__text a {
    color: #3137c9;
}

.post__text h2, .post__text h3, .post__text h4, .post__text h5, .post__text h6 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.post__text h2 {
    font-size: 1.5em;
}

.post__text h3 {
    font-size: 1.25em;
}

.post__text h4 {
    font-size: 1.15em;
}

.post__text h5, .post__text h6 {
    font-size: 1em;
}

.post__text ul, .post__text ol {
    margin-bottom: 2rem;
}

.post__text ol {
    list-style: decimal;
    list-style-position: inside;
}

.post__text table {
    width: 100%;
    margin-bottom: 2rem;
}

.post__text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #828282;
    line-height: 1.2rem;
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    top: -2px;
    position: relative;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.post__data a {
    color: #828282;
    text-decoration: none;
}

.post__data a:hover {
    text-decoration: underline;
}

.post__read {
    font-size: 1.4rem;
    color: #107eff;
}

.post__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.embed,
.fr-video {
    display: block;
    position: relative;
    overflow: hidden;
}

.embed:before,
  .fr-video:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.embed iframe,
  .embed video,
  .embed object,
  .embed embed,
  .fr-video iframe,
  .fr-video video,
  .fr-video object,
  .fr-video embed {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 8rem;
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #0d0d0d;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.pagination__link:hover {
    background-color: #121212;
}

.pagination__link.active {
    background-color: #3137c9;
    -webkit-box-shadow: 0 0 10px rgba(49, 55, 201, 0.15);
    box-shadow: 0 0 10px rgba(49, 55, 201, 0.15);
}

.related {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1c1c1c;
}

.related__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.related__list-item {
    margin-bottom: 2.5rem;
    padding-right: 1rem;
    width: 50%;
}

.related__list-title {
    font-size: 1.4rem;
    color: #F3EBA2;
    font-weight: 500;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.related__list-title a {
    color: inherit;
}

.related__list-date {
    font-size: 1.2rem;
    color: #828282;
}

.comments {
    margin-top: 5rem;
    display: block;
}

.comments__item {
    margin-bottom: 3rem;
}

.comments__item > .comments {
    padding-left: 3rem;
    margin-top: 3rem;
}

.comments__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1.5rem;
}

.comments__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comments__name {
    colro: #fff;
    font-weight: 500;
}

.comments__author {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.comments__pubdate {
    color: #757575;
}

.comments__text {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #fff;
}

.comments__reply {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.1;
    font-family: inherit;
    color: #3137c9;
}

.comments__reply:hover {
    text-decoration: underline;
}

.form--auth {
    width: 28rem;
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
    border: none;
}

.form__group--mb {
    margin-bottom: 2rem;
}

.form__line {
    width: 0;
    height: 1px;
    background-color: #3137c9;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    -webkit-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.form__control {
    padding: .5rem .75rem;
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
}

.form__control::-webkit-input-placeholder {
    color: #fff;
    opacity: .2;
}

.form__control::-moz-placeholder {
    color: #fff;
    opacity: .2;
}

.form__control:-ms-input-placeholder {
    color: #fff;
    opacity: .2;
}

.form__control::-ms-input-placeholder {
    color: #fff;
    opacity: .2;
}

.form__control::placeholder {
    color: #fff;
    opacity: .2;
}

.form__control:focus + .form__line {
    width: 100%;
}

.form__control--textarea {
    height: 30px;
    resize: none;
    overflow: hidden;
}

.works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    border-radius: 5px;
    background-color: #202020;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.works_preview {
    width: 31rem;
}

.works_preview img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.works__title {
    padding-bottom: 3rem;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
}

.works__title a {
    color: inherit;
}

.works__content {
    padding: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 29rem;
}

.works__description {
    padding-bottom: 3rem;
    color: #d2d2d2;
    font-size: 1.6rem;
    line-height: 1.68;
    font-weight: 300;
}

.works__footer {
    margin-top: auto;
    text-align: right;
}

.tag-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.tag-list__item {
    margin: 0 1rem 1rem 0;
    padding: .4rem .9rem;
    color: #fff;
    background-color: #EA8C1E;
    border-radius: 3px;
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: center;
}

.cabinet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cabinet__form {
    width: 34rem;
}

.cabinet__avatar {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 11rem;
}

.cabinet__avatar img {
    display: block;
    margin-bottom: 1.5rem;
}

.cabinet__file {
    color: #3137c9;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: underline;
}

.cabinet__file input {
    display: none;
}

.cabinet__file:hover {
    text-decoration: none;
}

.signup-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .hide-desktop {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar-list {
        display: none;
    }
}

@media (max-width: 675px) {
    .page__subhead {
        font-size: 1.5em;
    }
}
