<div class="modal">
	<div class="modal__content modal__contant--contact">
		<button class="modal__close" type="button">
			<img 
				alt="закрыть"
				src="assets/img/modal/close.svg" 
			>
		</button>
		<!-- /.modal__close -->

		<div class="form-box">
			<form class="form form--auth" action="/">
				<div class="form__group form__group--mb">
					<input class="form__control" type="text" placeholder="Вашe имя">
					<span class="form__line"></span>
				</div>

				<div class="form__group form__group--mb">
					<input class="form__control" type="email" placeholder="Ваша почта">
					<span class="form__line"></span>
				</div>

				<div class="form__group form__group--mb">
					<textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
					<span class="form__line"></span>
				</div>

				<div class="form__footer">
					<div class="form__group">
						<button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
					</div>
				</div>
			</form>
			<!-- /.form -->
		</div>
		<!-- /.form-box -->

		<div class="modal__footer">
			<ul class="modal__footer-list">
				<li>
					<a href="mailto:">name@gmail.com</a>
				</li>

				<li>
					<a href="tel:+79082561999">+7 908-256-19-99</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.modal__content -->
</div>