<header class="header">
	<svg class="navbar__menu hide-desktop">
		<use xlink has-subnav:href="#menu"></use>
	</svg>
	<!-- fix me -->
	<!-- fix me -->
	<!-- fix me -->

	<div class="header__left">
		<nav class="navbar">
			<ul class="navbar-list">
				<li class="navbar-list__item">
					<a class="navbar-list__link" href="index.html">Главная</a>
				</li>

				<li class="navbar-list__item">
					<a class="navbar-list__link has-subnav" href="#">Статьи</a>

					<ul class="subnav">
						<li class="subnav__item">
							<a class="subnav__link" href="#">Создание сайтов</a>
						</li>
						<li class="subnav__item">
							<a class="subnav__link" href="#">Интернет-маркетинг</a>
						</li>
						<li class="subnav__item">
							<a class="subnav__link" href="#">Продвижение видео</a>
						</li>
					</ul>
				</li>

				<li class="navbar-list__item">
					<a class="navbar-list__link" href="#">Обо мне</a>
				</li>

				<li class="navbar-list__item">
					<a class="navbar-list__link" href="#">Реклама</a>
				</li>
			</ul>
			<!-- /.navbar-list -->
		</nav>
		<!-- /.navbar -->
	</div>
	<!-- /.header__left -->

	<div class="header__right">
		<nav class="navbar">
			<ul class="navbar-list">
				<li class="navbar-list__item">
					<a class="navbar-list__link" href="profile.html">Профиль</a>
				</li>

				<li class="navbar-list__item">
					<a class="navbar-list__link" href="#">Выйти</a>
				</li>
			</ul>
			<!-- /.navbar-list -->
		</nav>
		<!-- /.navbar -->

		<form class="search" action="search.html" method="get">
			<input class="search__input" type="text" placeholder="Поиск по блогу">
		</form>
	</div>
	<!-- /.header__right -->
</header>