<header class="header">
	<div class="logo-box">
		<span class="logo-box__text">awesome</span>

		<img
			class="logo-box__icon" 
			src="assets/img/icons/logo.png" 
			alt="logo">
	</div>
	<!-- /.logo-box -->

	<nav class="navbar">
    	<svg class="navbar__menu hide-desktop">
    		<use xlink:href="#menu"></use>
    	</svg>

		<ul class="navbar-list">
			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Home</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Services</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Portfolio</a>
			</li>

			<li class="navbar-list__item">
				<a class="navbar-list__link" href="#">Team</a>
			</li>
		</ul>
	</nav>
	<!-- /.navbar -->
</header>