<article class="post">
	<div class="post__actions">
		<a href="#">Вернуться назад</a>
		<a href="#">Поделиться</a>
	</div>

	<div class="post__header">
		<h2 class="post__title">
			Как я сходил на FrontEnd Conf 2021
		</h2>

		<ul class="post__data">
			<li class="post__data-item">
				<time datetime="21.06.2020">21.06.2020</time>
			</li>

			<li class="post__data-item">
				<a href="#">
					Конференции
				</a>
			</li>
		</ul>
	</div>

	<div class="post__content">

		<p class="post__text">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus repellat commodi aliquid. Rem consectetur excepturi quam modi dolores non delectus quae repellat unde totam quidem vitae aliquid omnis, quis molestiae.
		</p>
	</div>
</article>
<!-- /.post -->
