<article class="post">
	<div class="post__content">
		<p class="post__text">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus repellat commodi aliquid. Rem consectetur excepturi quam modi dolores non delectus quae repellat unde totam quidem vitae aliquid omnis, quis molestiae.
		</p>
	</div>

	<div class="post__footer">
		<ul class="post__data">
			<li class="post__data-item">
				<time datetime="21.06.2020">21.06.2020</time>
			</li>
		</ul>
	</div>
</article>
<!-- /.post -->

<article class="post">
	<div class="post__header">
		<a class="post__header-link" href="#">
			<img 
				class="post__header-img" 
				alt="post picture"
				src="assets/img/post/post-2.jpg" 
			>
		</a>
	</div>

	<div class="post__content">
		<h2 class="post__title">
			<a class="post__title-link" href="#">
				Как писать код быстро и безболезненно?
			</a>
		</h2>

		<p class="post__text">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus repellat commodi aliquid. Rem consectetur excepturi quam modi dolores non delectus quae repellat unde totam quidem vitae aliquid omnis, quis molestiae.
		</p>
	</div>

	<div class="post__footer">
		<ul class="post__data">
			<li class="post__data-item">
				<time datetime="21.06.2020">21.06.2020</time>
			</li>

			<li class="post__data-item">
				<a href="#">
					Создание сайтов
				</a>
			</li>
		</ul>

		<a class="post__read" href="#">
			читать
		</a>
	</div>
</article>
<!-- /.post -->

<article class="post">
	<div class="post__header post__header--video">
		<div class="embed">
			<iframe 
				src="https://www.youtube.com/embed/NiA9o72O86Y" 
				frameborder="0" 
				allow="accelerometer; 
				autoplay; 
				clipboard-write; 
				encrypted-media; 
				gyroscope; 
				picture-in-picture" 
				allowfullscreen="">
			</iframe>
		</div>
	</div>

	<div class="post__content">
		<h2 class="post__title">
			<a class="post__title-link" href="#">
				Кубический клин! Телега - домкрат адвоката Егорова.
			</a>
		</h2>
	</div>

	<div class="post__footer">
		<ul class="post__data">
			<li class="post__data-item">
				<time datetime="21.06.2020">21.06.2020</time>
			</li>

			<li class="post__data-item">
				<a href="#">
					Продвижение видео
				</a>
			</li>
		</ul>

		<a class="post__read" href="#">
			Оставить комментарии
		</a>
	</div>
</article>
<!-- /.post -->

<article class="post">
	<div class="post__header">
		<a class="post__header-link" href="#">
			<img 
				class="post__header-img" 
				alt="post picture"
				src="assets/img/post/post-3.jpg" 
			>
		</a>
	</div>

	<div class="post__content">
		<h2 class="post__title">
			<a class="post__title-link" href="#">
				Как я сходил на FrontEnd Conf 2021
			</a>
		</h2>

		<p class="post__text">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus repellat commodi aliquid. Rem consectetur excepturi quam modi dolores non delectus quae repellat unde totam quidem vitae aliquid omnis, quis molestiae.
		</p>
	</div>

	<div class="post__footer">
		<ul class="post__data">
			<li class="post__data-item">
				<time datetime="21.06.2020">21.06.2020</time>
			</li>

			<li class="post__data-item">
				<a href="#">
					Конференции
				</a>
			</li>
		</ul>

		<a class="post__read" href="#">
			читать
		</a>
	</div>
</article>
<!-- /.post -->

<ul class="pagination">
	<li class="pagination__item">
		<a class="pagination__link" href="#">&lt</a>
	</li>

	<li class="pagination__item">
		<a class="pagination__link" href="#">1</a>
	</li>

	<li class="pagination__item">
		<a class="pagination__link active" href="#">2</a>
	</li>

	<li class="pagination__item">
		<a class="pagination__link" href="#">3</a>
	</li>

	<li class="pagination__item">
		<a class="pagination__link" href="#">&gt</a>
	</li>
</ul>
<!-- /.pagination -->
