<div class="modal">
	<div class="modal__content">
		<button class="modal__close" type="button">
			<img 
				alt="закрыть"
				src="assets/img/modal/close.svg" 
			>
		</button>
		<!-- /.modal__close -->

		<ul class="social">
			<li class="social__item">
				<a class="social__link" href="#">	
					<img 
						class="social__icon" 
						src="assets/img/share/facebook.svg" 
						alt="user facebook"
					>
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#">	
					<img 
						class="social__icon" 
						src="assets/img/share/twitter.svg" 
						alt="user twitter"
					>
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#">	
					<img 
						class="social__icon" 
						src="assets/img/share/vk.svg" 
						alt="user vk"
					>
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#">	
					<img 
						class="social__icon" 
						src="assets/img/share/copy.svg" 
						alt="user copy"
					>
				</a>
			</li>
		</ul>
		<!-- /.social -->
	</div>
	<!-- /.modal__content -->
</div>