<aside class="sidebar">
	<div class="sidebar__head">
		<img 
			class="sidebar__img" 
			src="assets/img/sidebar/sidebar-img.jpg" 
			alt="sidebar-img"
		>
	</div>

	<div class="sidebar__content">
		<div class="profile">
			<figure class="profile-figure">
				<img
					class="profile-figure__avatar"
					src="https://placehold.it/100"
					alt="user picture"
				>

				<figcaption class="profile-figure__caption">
					Дмитрий Валак
				</figcaption>

				<p class="profile-figure__subcaption">
					блог front-end разработчика
				</p>
			</figure>
			<!-- /.profile-figure -->

			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">	
						<img 
							class="social__icon" 
							src="assets/img/sidebar/instagram.svg" 
							alt="user instagram"
						>
					</a>
				</li>

				<li class="social__item">
					<a class="social__link" href="#" target="_blank">	
						<img 
							class="social__icon" 
							src="assets/img/sidebar/instagram.svg" 
							alt="user instagram"
						>
					</a>
				</li>

				<li class="social__item">
					<a class="social__link" href="#" target="_blank">	
						<img 
							class="social__icon" 
							src="assets/img/sidebar/instagram.svg" 
							alt="user instagram"
						>
					</a>
				</li>
			</ul>
			<!-- /.social -->

			<div class="profile__text">
				<p>
					Front-end разработчик. Практик верстки сайтов.
					Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.
				</p>
			</div>
			<!-- /.profile__text -->
		</div>
		<!-- /.profile -->
	</div>
	<!-- /.sidebar__content -->

	<div class="sidebar__footer">
		<a class="btn btn--red" href="#">Мои работы</a>

		<button class="btn btn--blue" type="button">Написать мне</button>
	</div>
</aside>