<aside class="sidebar">
	<div class="sidebar__head">
		<img 
			class="sidebar__img" 
			src="assets/img/sidebar/sidebar-img.jpg" 
			alt="sidebar-img"
		>
	</div>

	<div class="sidebar__content">
		<div class="profile">
			<figure class="profile-figure">
				<img
					class="profile-figure__avatar"
					src="https://placehold.it/100"
					alt="user picture"
				>

				<figcaption class="profile-figure__caption">
					Дмитрий Валак
				</figcaption>

				<p class="profile-figure__subcaption">
					блог front-end разработчика
				</p>
			</figure>
			<!-- /.profile-figure -->

			<ul class="social">
				<li class="social__item">
						<img 
							class="social__icon" 
							src="assets/img/sidebar/instagram.svg" 
							alt="user instagram"
						>
					</a> 
					<!-- FIX ME -->
					<!-- FIX ME -->
					<!-- FIX ME -->
				</li>

				<li class="social__item">
						<img 
							class="social__icon" 
							src="assets/img/sidebar/instagram.svg" 
							alt="user instagram"
						>
					</a>
				</li>

				<li class="social__item">
						<img 
							class="social__icon" 
							src="assets/img/sidebar/instagram.svg" 
							alt="user instagram"
						>
					</a>
				</li>
			</ul>
			<!-- /.social -->
		</div>
	</div>
	<!-- /.sidebar__content -->

	<div class="sidebar__footer">
		
	</div>
</aside>