$primary: 		#202020;
$secondary: 	#121212;
$white:			#fff;
$red: 			#ed3024;
$blue:			#3137c9;

$sidebare-z-index:	1000;
$header-z-index:	1000;
$modal-z-index:		1010;

$sidebar-width: 	300px;




$cta-color: 	#00CC80FF;
$logo-color: 	#002A4EFF;
$bg-team: 		#F6F6F6FF;
$bg-footer: 	#3D444AFF;