@import "_vars.scss";
@import "_mixins.scss";


/* Default styles */
html {
	font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #181818;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;

    &.no-scrool {
    	overflow: hidden;
    }
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:active, 
:hover, 
:focus {
    outline: 0;
    outline-offset: 0;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


/* Blocks */
@import "blocks/_page.scss";
@import "blocks/_container.scss";
@import "blocks/_btn.scss";
@import "blocks/_sidebar.scss";
@import "blocks/_profile.scss";
@import "blocks/_social.scss";
@import "blocks/_header.scss";
@import "blocks/_navbar.scss";
@import "blocks/_subnav.scss";
@import "blocks/_search.scss";
@import "blocks/_main.scss";
@import "blocks/_stories.scss";
@import "blocks/_add-post.scss";
@import "blocks/_post.scss";
@import "blocks/_embed.scss";
@import "blocks/_pagination.scss";
@import "blocks/_related.scss";
@import "blocks/_comments.scss";
@import "blocks/_form.scss";
@import "blocks/_works.scss";
@import "blocks/_tag-list.scss";
@import "blocks/_cabinet.scss";
@import "blocks/_signup.scss";
@import "blocks/_modal.scss";



// /* old styles */
// @import "blocks/_scrollbar.scss";
// @import "blocks/_scrolldown.scss";

// @import "blocks/_section.scss";
// @import "blocks/_logo-box.scss";
// @import "blocks/_hero.scss";
// @import "blocks/_portfolio.scss";
// @import "blocks/_services.scss";
// @import "blocks/_team.scss";
// @import "blocks/_footer.scss";

 @import "blocks/_media.scss";